@layer base {
  @font-face {
    font-family: AppliMincho;
    font-weight: 400;
    src: url(/fonts/AppliMincho.otf) format("opentype");
  }

  html,
  body {
    @apply text-white text-base bg-black font-applimincho scroll-smooth scroll-pt-20 round-scrollbar;
  }

  h1 {
    @apply my-6 text-2xl font-semibold;
  }

  h2 {
    @apply my-4 pb-1 border-b border-gray-600 text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-medium;
  }

  p {
    @apply bg-black overflow-x-auto round-scrollbar;
  }

  a {
    @apply underline decoration-[0.05em] underline-offset-[0.25em];
  }
}