@layer base {
  @font-face {
    font-family: AppliMincho;
    font-weight: 400;
    src: url(/fonts/AppliMincho.otf) format("opentype");
  }

  @font-face {
    font-family: 'SFMono-Regular';
    font-weight: 400;
    src: url(/fonts/FontsFree-Net-SFMono-Regular.ttf) format("truetype");
  }

  html,
  body {
    @apply text-white text-base bg-gradient-to-tr from-darkgreen to-black bg-[length:400%_400%] animate-gradient-background font-applimincho scroll-smooth scroll-pt-20 round-scrollbar overflow-overlay selection:bg-emerald;
  }

  h1 {
    @apply my-6 text-2xl font-semibold;
  }

  h2 {
    @apply my-4 pb-1 border-b border-emerald text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-medium;
  }

  a {
    @apply underline decoration-[0.05em] underline-offset-[0.25em];
    /* @apply border-b; */
  }

  a[href^="#mjx-eqn%3A"] {
    @apply no-underline;
  }

  .tooltip {
    @apply opacity-0 invisible absolute ease-in-out duration-300 no-underline;
  }

  .has-tooltip {
    @apply underline decoration-[0.05em] decoration-dotted underline-offset-[0.25em];
  }

  .has-tooltip:hover .tooltip {
    @apply opacity-100 visible z-50 duration-300 delay-300 ease-in-out;
  }

  .balloon {
    @apply before:block absolute before:absolute top-full before:-top-1 left-1/2 before:left-1/2 z-10 before:z-0 py-[2px] px-2 mx-auto mt-2 before:w-2 before:h-2 text-xs text-white whitespace-nowrap before:bg-black bg-black rounded transform before:transform before:rotate-45 -translate-x-1/2 before:-translate-x-1/2 indent-0;
  }

  svg {
    @apply inline align-baseline;
  }

  table {
    @apply border-collapse m-2;
  }
  td, th {
    @apply p-2 border border-slate-400 border-solid;
  }
  th {
    @apply bg-emerald;
  }
}