@import "prism-themes/themes/prism-nord.css";

.post {
  @apply my-5;
}

.post ul {
  @apply px-5 ml-3 list-outside list-disc;
}

.post ol {
  @apply px-5 ml-3 list-outside list-decimal;
}

.post p {
  @apply indent-0 whitespace-pre-wrap;
}

.post p+p {
  @apply mt-5;
}

.post pre {
  @apply round-scrollbar bg-[#1a2638];
}

.post pre code {
  @apply block font-mono text-xs md:text-sm leading-5 md:leading-6;
}

.post p code {
  @apply inline-block font-mono text-xs md:text-sm leading-5 md:leading-6 indent-0 bg-black rounded-md px-1 mx-1;
}

.remark-highlight {
  @apply mb-8 -mt-2;
}

.remark-highlight pre[data-file]::before {
  @apply relative top-[-19px] left-[-18px] rounded-tl bg-gray-600
    px-2 pb-1 pt-2 font-mono text-xxs text-gray-200 content-[attr(data-file)] md:text-xs;
}

.post pre[class*=langage-] {
  @apply relative;
}

.post .token.coord {
  @apply text-[#aad4ff];
}

.post .token.inserted:not(.prefix) {
  @apply bg-[#33aa3333] block text-inherit;
}

.post .token.deleted:not(.prefix) {
  @apply bg-[#da363233] block text-inherit;
}

.post .window {
  @apply fixed translate-y-[-50%] translate-x-[-50%] top-[50%] left-[50%] text-center invisible opacity-0 hover:visible hover:opacity-100 ease-in-out duration-300 bg-black backdrop-filter backdrop-blur-sm bg-opacity-90 rounded-md shadow-[0_0_8px_0_rgba(0,0,0,0.5)] pr-[2em] w-11/12 md:w-[704px] overflow-x-auto round-scrollbar;
}

.post .scrollable {
  @apply overflow-x-auto round-scrollbar p-0 m-0 indent-0 whitespace-nowrap;
}

/* blockquote {
  @apply bg-slate-900 bg-opacity-60 rounded-md p-3 m-3 text-slate-400;
} */

blockquote {
  @apply pl-2 py-1 m-2 text-argent border-l-4 border-argent;
}

.post hr {
  @apply my-5;
}

.post img, .post table {
  @apply mx-auto;
}

.post .img-caption + .post p {
  @apply text-center;
}

.post .box {
  @apply rounded px-4 py-2 my-6 shadow-[0_0_7px_7px];
}
.post .def {
  @apply bg-teal-800 shadow-teal-800;
}
.post .thm {
  @apply bg-cyan-800 shadow-cyan-800;
}
.post .title-container {
  @apply mb-4;
}
.post .box-title {
  @apply border-b-argent border-double border-b-2 pb-1 text-lg;
}
.post .box-container {
}
/* .post .proof {
  @apply relative top-0 flex;
}
.post .proof:before, .post .proof:after {
  @apply absolute top-0 w-2 inline-block box-border;
}
.post .proof:before {
  @apply border-l-2 border-dotted border-t-2 border-b-2 left-0;
}
.post .proof:after {
  @apply border-r-2 border-dotted border-t-2 border-b-2 right-0;
} */
/* details.proof {
  position: relative;
  padding: 0.25em 1em;
  margin: 2em 0;
  top: 0;
  display: flex;
  transition-duration: 0.7s;
}

details.proof:before, details.proof:after {
  position: absolute;
  top: 0;
  content: '';
  width: 10px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

details.proof:before {
  border-left: dotted 2px #15adc1;
  border-top: dotted 2px #15adc1;
  border-bottom: dotted 2px #15adc1;
  left: 0;
}

details.proof:after {
  border-top: dotted 2px #15adc1;
  border-right: dotted 2px #15adc1;
  border-bottom: dotted 2px #15adc1;
  right: 0;
} */
